<!doctype html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}
        <title>{{ config.title }}</title>
    {% endblock %}
    <!-- Markdown 样式 -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/github-markdown-css/github-markdown.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/loading.css') }}">
          <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
{% include "post.html" %}
</body>
