<!doctype html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% block head %}
        <title>{{ config.title }}</title>
    {% endblock %}
    <!-- Markdown 样式 -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/github-markdown-css/github-markdown.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/loading.css') }}">
          <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 text-gray-800">
    <div id="loading-bar"></div>
     {% block header %}
        <!-- Header -->
        {% include "components/header.html" %}
     {% endblock %}
    <main class="max-w-6xl mx-auto px-4 my-10">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="col-span-1 md:col-span-2 space-y-6">
            {% block content %}{% endblock %}
        </div>
        <div class="col-span-1">
            {% block footer %}
            <aside class="space-y-6">
                <div class="bg-white rounded-xl shadow-sm p-6">
                    <h3 class="font-semibold mb-2">分类</h3>
                    <section class="w-full overflow-hidden">
    <div class="flex gap-3 px-4 py-3 overflow-x-auto no-scrollbar scroll-smooth">
        {% if categorys %}
        {% for category in categorys %}
        <button class="flex h-9 shrink-0 items-center justify-center px-5 rounded-full bg-white dark:bg-surface-dark border border-gray-200 dark:border-gray-700 hover:border-primary/50 text-[#111618] dark:text-white transition-all active:scale-95">
            <span class="text-sm font-medium">{{ category.name }}</span>
        </button>
        {% endfor %}
        {% else %}
        <div class="text-center text-gray-400 py-1">
    暂无分类
    </div>
    {% endif %}
    </div>
            </SECTION>
                </div>
            </aside>

            <aside class="space-y-6 mt-5">


                <div class="bg-white rounded-xl shadow-sm p-6">
                    <h3 class="font-semibold mb-2">标签</h3>
                    <section class="w-full overflow-hidden">
    <div class="flex gap-3 px-4 py-3 overflow-x-auto no-scrollbar scroll-smooth">
        {% if tags %}
        {% for tag in tags %}
        <button class="flex h-9 shrink-0 items-center justify-center px-5 rounded-full bg-white dark:bg-surface-dark border border-gray-200 dark:border-gray-700 hover:border-primary/50 text-[#111618] dark:text-white transition-all active:scale-95">
            <span class="text-sm font-medium">{{ tag.tagName }}</span>
        </button>

        {% endfor %}
        {% else %}
        <div class="text-center text-gray-400 py-1">
    暂无标签
    </div>
    {% endif %}
    </div>
            </SECTION>
                </div>
            </aside>
            {% endblock %}
        </div>
    </div>
</main>
{% block other %}
{% endblock %}


</body>
    <script>
    function closeModal() {
        document.getElementById('modal').style.display = 'none';
    }
    </script>
    <script src="{{ url_for('static', filename='js/loading.js') }}"></script>
    {% block script %}{% endblock %}
</html>