<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{ config.title }}</title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Vditor 样式 -->
    <link href="https://cdn.jsdelivr.net/npm/vditor/dist/index.css" rel="stylesheet">
</head>


        <!-- 编辑器 -->
        <section class="md:col-span-2">
            <div class="bg-white rounded-xl shadow-sm p-4">
                <div>

                    <input
                            class="w-full rounded-lg border border-gray-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-black"
                            id="titleInput"
                            placeholder="请输入标题"
                            type="text"
                    >
                </div>
                <div class="rounded-lg shadow-sm mt-4">
                    <div id="vditor"></div>
                </div>
            </div>
        </section>
         <aside class="md:col-span-1">
            <div class="bg-white rounded-xl shadow-sm p-5 space-y-4">


                <button
                        class="w-full bg-black text-white rounded-lg py-2 hover:bg-gray-800 transition"
                        id="sendBtn"
                        type="button"
                >
                    发布
                </button>
            </div>
        </aside>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/vditor/dist/index.min.js"></script>

<script>
    const vditor = new Vditor('vditor', {
      height: 420,
      placeholder: '在这里输入 Markdown 内容...',
      toolbarConfig: { pin: true },
      cache: { id: 'vditor-post', enable: true }
    });

    document.getElementById('sendBtn').addEventListener('click', async () => {
      const title = document.getElementById('titleInput').value.trim();
      const content = vditor.getValue().trim();

      if (!title) {
        alert('标题不能为空');
        return;
      }

      if (!content) {
        alert('内容不能为空');
        return;
      }

      const res = await fetch('/post', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ title, content })
      });

      const data = await res.json();

      if (res.ok) {
        alert('发布成功');
        vditor.setValue('')

        window.location.href = '/ ';
      } else {
        alert(data.message || '发布失败');
      }
    });
</script>

</body>
</html>
